# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Power BI files
*.pbix

# CSV files (Uncomment if you want to ignore CSV files)
#*.csv

# VS Code settings
.vscode/

# macOS files
.DS_Store

# Windows files
Thumbs.db

# Log files
*.log

# Temporary files
*.tmp
